#group-editor-page{
	overflow: hidden;
	margin-bottom: 60px;
}
#dialog-wrapper.global{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0,0.7);
}
#dialog-body.global{
	overflow-y: auto;
	background-color: white;
	padding: 7% 7% 7% 7%;
	display: grid;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 15%;
	width: 50%;
	height: 50%;
}
#dialog-body.local{
	display: grid;
	margin-left: 10%;
	margin-bottom: 3%;
	width: 50%;
	height: 60%;
}
#dialog-body button{
	margin-top: 3%;
	height: 100%;
	width: 50%;
}
#tool-bar button{
	margin-top: 10px;
	margin-bottom: 10px;
}