#group-editor-page{
	overflow: hidden;
	margin-bottom: 60px;
}
#group-editor-page button{
	height: 32px;
	border-color: #4CAF50;
  	border-radius: 3px;
  	transition-duration: 0.4s;
 	background-color: white;
}
#group-editor-page button:hover{
	border-color: #3CBC8D;
	border-radius: 3px;
	background-color: #3CBC8D;
 	color: white;
}
#group-dialog-wrapper.global{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0,0.7);
}
#group-dialog-wrapper select{
	border-radius: 3px;
 	background-color: #3CBC8D;
  	color: white;
	height: 32px;
}
#group-dialog-wrapper input{
  	background-color: #3CBC8D;
  	color: white;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	height: 32px;
}
#group-dialog-wrapper input.ok{
	border-color: green;
}
#group-dialog-wrapper input.error{
	border-color: red;
}
#group-dialog-body.global{
	overflow-y: auto;
  	background-color: #f2f2f2;
	padding: 7% 7% 7% 7%;
	display: grid;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 15%;
	width: 50%;
	height: 50%;
}
#group-dialog-body.local{
	padding: 3% 3% 3% 3%;
  	background-color: #f2f2f2;
	display: grid;
	margin-left: 10%;
	margin-bottom: 3%;
	width: 50%;
	height: 60%;
}
#group-dialog-body .button{
	margin-top: 5px;
	margin-left: 5%;
	width: 40%;
	height: 100%;
}
#tool-bar button{
	margin-top: 10px;
	margin-bottom: 10px;
}
#group-plus-button{
	margin: 5px 5px 5px 5px;
}
#button{
	border: 2px solid;
	border-color: #3CBC8D;
  	border-radius: 3px;
  	transition-duration: 0.4s;
	margin-top: 3px;
	width: 20%;
}
#button:hover{
	background-color: #3CBC8D;
 	color: white;
}
#group-data-field h5{
	width: 10%;
	background-color: white;
	border-color: #3CBC8D;
  	border-radius: 3px;
  	transition-duration: 0.4s;
}
#group-data-field h5:hover{
	background-color: #3CBC8D;
 	color: white;	
}
#group-data-field h6{
	font-size: 14px;
}
#group-data-field h5.active{
	background-color: #3CBC8D;
 	color: white;	
}
#group-data-field{
	padding-top: 1%;
	padding-left: 5%;
}
#group-data-block{
	margin-top: 10px;
}
#tool-bar-inputs input{
  	background-color: #3CBC8D;
  	color: white;
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	height: 32px;
}