#shedule-dialog-wrapper{
	width: 80%;
	height: 100%;
}
#day-dialog-body{
	display: grid;
	margin-left: 10%;
	margin-bottom: 3%;
	width: 50%;
	height: 60%;
}
#shedule-plus-button{
	margin: 5px 5px 5px 5px;
}
#day-dialog-body.button{
	margin-top: 5px;
	margin-left: 5%;
	width: 40%;
	height: 10%;
}
#day-dialog-wrapper input{
	border-radius: 3px;
	padding: 1px 3px 1px 3px;
	height: 32px;
}
#day-dialog-wrapper input.ok{
	border-color: green;
}
#day-dialog-wrapper input.error{
	border-color: red;
}
#shedule-editor-page {
	padding: 10px;
}