/*Подумать над анимацией*/
.drop-down-1,.drop-down-2{
	margin: 0px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-out;
}
#course-block h5,h4,h3{
	margin-top: 3px;
	margin-bottom: 3px;
}